/* Estilos gerais */
body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}

#navbar-nav{
  
}

h1, h2, h3, ion-icon{
  color: #333;
}

h2{
  padding-left: 9px;
}

a {
  color: #007bff;
  text-decoration: none;
}

header, footer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;

}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

section {
  padding: 50px;
}

/* Estilos específicos */
#contentSobre, .title-container{
  max-width: 60%;
  width: fit-content;
  height: fit-content;
}



#sobre{
  display: flex;
  justify-content: center;
}

#projetos .projeto {
  margin-bottom: 20px;
}

#contato {
  text-align: center;
}


#contato button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.LinkRedes {
  padding: 20px;
  transition: transform 0.3s ease;
}

.LinkRedes:hover{
  transform: scale(1.1); /* Aumenta a escala da imagem em 10% */
}

#redesSociais {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: row;
}

.item img{
  max-width: 100%; /* Altere para o tamanho desejado */
  height: 100%;
  object-fit: contain;
  padding: 20px;
  transition: transform 0.3s ease;
}

.item img:hover{
  transform: scale(1.1); /* Aumenta a escala da imagem em 10% */
}


.text, .image-text{
  text-align: justify;
}

.image-text{
  padding: 8%;
  width: 50%;
}

.image-container{
  display: flex;
  flex-direction: column;
}

.texto {
  max-width: 30%;
  margin-left: 10px;
  padding: 5%;
}

@media (max-width: 1039px) {
  .texto {
    max-width: none;
    margin-left: 0;
    margin-top: 10px;
  }

  /* Estilos específicos */
#contentSobre, .title-container{
  max-width: 100%;
  width: fit-content;
  height: fit-content;
}


  .image-text{
    padding: 5px;
    width: 100%;
  }

  .item {
    display: flex;
    flex-direction: column;
  }
  

}


